.toggle-button {
  position: fixed;
  top: 12%;
  right: 280px; /* Set the initial right position */
  width: 40px;
  height: 40px;
  transform: translateX(0); /* Initial transform state */
  z-index: 1001;
  justify-content: center;
  align-items: center;
  background-color: #d6dde4;
  color: #fff;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: transform 500ms ease, right 400ms ease; /* Ensure right is also included in the transition */

  &.closed {
    transform: translateX(230px); /* Adjust transform to animate */
  }

  &:hover {
    background-color: #0056b3;
  }

  svg {
    cursor: pointer;
    stroke: blue;
    stroke-width: 2;
    stroke-linecap: round;
    transition: transform 0.5s ease-in-out;
  }

  svg line {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  /* Initial closed state - no additional styles needed since this is the default state */
  .closed line:nth-child(1),
  .closed line:nth-child(2),
  .closed line:nth-child(3) {
    transform: none;
    opacity: 1;
  }

  /* Open state transformations */
  .open line:nth-child(1) {
    transform: translate(8px, 0px) rotate(45deg);
  }

  .open line:nth-child(2) {
    opacity: 0;
  }

  .open line:nth-child(3) {
    transform: translate(-8px, 8px) rotate(-45deg);
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: #333;
  color: #fff;
  // transform: translateX(100%);
  transition: 400ms ease;
  z-index: 1000;
  padding-top: 10%;

  &.open {
    width: 300px;
  }

  &.closed {
    width: 70px;
  }

  .sidebar-content {
    // padding: 20px;
    button {
      display: flex;
      flex-direction: row;
      background: none;
      border: none;
      color: #fff;
      padding: 4px;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
        margin: 8px;
        background: red;
        padding: 10px;
        border-radius: 50%;
      }
    }
  }

  .transact {
    display: flex;
    flex-direction: column;

    .opts {
      display: flex;
      flex-direction: row;
      button {
        padding: 10px;
        width: 100%;
        margin: 10px;
      }
    }
    .pricing {
      width: 80%;
      display: flex;
      flex-direction: column;
      margin: auto;
      input {
        width: 100%;
      }
      span {
        margin: 8px;
      }
      button {
        padding: 12px;
        margin-top: 12px;
      }
    }
  }
}
